/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
	text-decoration: none;
	color: black;
}
a:hover{
	color: #B1663C;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
	
}
main {
	margin: auto;
	padding: 0px 100px;
	max-width: 940px;
	margin-top: 50px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

#div-edition-mode {
	display: none;
	background-color: black;
	color: white;
	text-align: center;
	font-family: 'Work Sans';
	padding: 20px;
	margin: 0px;
}

header {
	display: flex;
	justify-content: space-between;
	max-width: 1140px;
	margin: auto;
	margin-top: 50px;
}
section {
	margin: 50px 0
}

#overlay-container {
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 100vh;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
	display: none;
}

#div-admin, #div-admin-upload {
	display: none;
	width: 390px;
	position: fixed;
	background-color: white;
	top: 10vh;
	left: 50%;
	translate: -50%;
	border-radius: 10px;
	z-index: 1;
	padding: 50px 120px 50px 120px;
}

.modal-container.active, #div-admin.active, #div-admin-upload.active {
	display: block;
}

.gallery .active {
	display: block;
}

.error-container {
	width: 100%;
	height: 50px;
	background-color: #FFFEF8;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 30px;
	color: red;
}

#div-edition-mode.active, #span-admin-modif.active {
	display: block;
}

#div-close-admin {
	position: absolute;
	padding: 10px;
	top: 5px;
	right: 5px;
	font-size: 20px;
}

#div-return-admin {
	position: absolute;
	padding: 10px;
	top: 5px;
	left: 5px;
	font-size: 20px;
}

#div-close-admin:hover, #div-return-admin:hover {
	color: #1D6154;
	cursor: pointer;
}

#div-admin-title {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

#div-admin-title h3 {
	font-size: 26px;
	font-family: 'Work Sans' ;
}

.js-admin-div {
	position: relative;
}

.admin-trash-img {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 5px;
	padding: 5px;
	border-radius: 2px;
	font-size: 11px;
	background-color: black;
	color: white;
	cursor: pointer;
}

.div-admin-gallery {
	max-height: 45vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 30px 10px;
	overflow: auto;
	padding: 0px 0px 20px 0px;
	box-sizing: border-box;
}

.div-admin-gallery img {
	width: 100%;
	height: 100px;
	object-fit: cover;
}

.div-admin-button {
	display: flex;
	justify-content: center;
	border-top: 1px solid #B3B3B3;
	margin-top: 20px;
	padding-top: 20px;
}

.btn-upload {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	padding: 10px;
	border: 1px solid #1D6154;
	cursor: pointer;
	margin: auto;
}



#div-file-upload img {
	width: 100%;
	height: 200px;
	object-fit: contain;
}

.form-upload {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.filters {
	margin: 50px 0px 50px 0px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.filters button {
	border-radius: 60px;
	font-size: 16px;
	padding: 10px;
	border: 1px solid #1D6154;
	background-color: #FFFEF8;
	color: #1D6154;
	font-weight: 700;
	font-family: 'Syne' ;
	min-width: 100px;
	cursor: pointer;
}

.filters button:hover {
	color: #FFFEF8;
	background-color: #1D6154;
}

.figureGallery {
	display: none;
}

.figureGallery figcaption {
	color: #3D3D3D;
	padding: 5px 0;
	font-size: 13px;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 0 0 20px;
	font-size: 1.2em;
}
nav li img {
	width: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	margin-top: 100px;
}

#portfolio h2 {
	text-align: center;
}

.div-projects {
	width: 250px;
	left: 50%;
	transform: translate(-50%);
	position: relative;
	margin-bottom: 50px;
}

#span-admin-modif {
	display: none;
	position: absolute;
	top: 10px;
	right: -80px;
	cursor: pointer;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 480px;
	object-fit: cover;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	background-color: white;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 0 2em;
	padding: 2em 0;
}

.footer {
	width: 100%;
	position: absolute;
	bottom: 0px;
}

.main-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.h2-login {
	text-align: center;
	margin-bottom: 50px;
}

.login-page {
	font-weight: 600;
}

#file {
	opacity: 0;
}

.label-upload {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	color: #306685;
	margin-bottom: 20px;
}

.icon-upload {
	font-size: 90px;
	color: #CBD6DC;
}

.label-inputs {
	color: #3D3D3D;
	margin-top: 10px;
}

#div-file-upload {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #E8F1F6;
	box-sizing: border-box;
}

.button-upload {
	border-radius: 50px;
	background-color: #CBD6DC;
	color: #306685;
	border: none;
	font-size: 14px;
	padding: 10px 20px;
	font-weight: 500;
	cursor: pointer;
}

.form-login label {
	font-size: 14px;
	margin: 30px 0px 10px 0px;
	display: block;
	font-weight: 500;
	color: #3D3D3D;
}

#e-mail, #password {
	font-weight: 500;
	min-width: 300px;
	background-color: white;
	border: none;
	box-shadow: 0px 4px 14px 0 #00000017;
	padding: 10px;
}

#btn-submit {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	padding: 10px;
	border: 1px solid #1D6154;
	padding: 10px;
}

#btn-submit:hover {
	color: #1D6154;
	background-color: #FFFEF8;
	cursor: pointer;
}

.pw-forget {
	text-align: center;
	text-decoration: underline;
}

#p-error {
	padding: 10px;
	box-shadow: 0px 0px 10px red;
	margin-bottom: 30px;
	text-align: center;
}

.disabled {
	display: none;
}

.input-select, .input-title  {
	min-width: 300px;
	background-color: white;
	border: none;
	box-shadow: 0px 4px 14px 0 #00000017;
	height: 30px;
	padding: 10px;
	color: #444444;
	box-sizing: content-box;
}